*{
    margin:0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw; /* 80% of the screen */
    background-color: #e9edc9;
    margin: 0 auto;
    height: 100vh;
    


}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;

}
 nav {
    width: 20vw;
    height: 100vh;
    background-color: #d4a373;
    display: block;
    text-decoration: none;

 }

 nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 nav li {
    margin: 2%;
    
 }

 a, a:visited {
    text-decoration: none;
    color: #432818;
    font-size: large;
 }
 h1, p {
    text-align: center;
    background-color: #ccd5ae ;
    color: #432818;
 }
 h1 {
    background-color: #ccd5ae ;
 }
