*{
    margin:0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw; /* 80% of the screen */
    background-color: chocolate;
    margin: 0 auto;


}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;

}
 nav {
    width: 30%;
    background-color: darkcyan;

 }

 nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 